/*----------==========헤더==========----------*/
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: black;
}
li{
    float: left;
    list-style: none;
}
header{
    position: fixed;
    width:100%;
    min-width: 1440px;
    height: 80px;
    border-bottom: 1px #a5a1a1 solid;
    font-size: 20px;
    font-weight: bolder;
}

/*네비게이션 분할*/
.H_nav{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    color: rgb(50, 50, 50);
    background-color: white;
}

/*로고 인터페이스*/
.logo_interface{
    width:100%;
    height: 80px;
}
.logo{
    height: 70px;
    padding: 5px calc(50% - 85.555px) 5px calc(50% - 85.555px); 
}

/*페이지링크 인터페이스*/
.function_interface{
    width: 50%;
    padding: 0% 25% 0% 25%;
    height: 80px;
}

/*링크 호버시 애니메이션*/
.link {
    width:50%;
    height: 100%;
    text-align: center;
    line-height: 80px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.link:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #0062df;
}
.link:hover {
    color: #ffffff;
}

/*다운로드 버튼*/
.link_download{
    box-sizing: border-box;
    width: 70%;
    height: 80px;
    margin-left: 30%;
    border-left: 1px solid;
    text-align: center;
    line-height: 80px;
    background-color: #ffec44;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.link_download:hover{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 21px;
}