.contentbox{
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #e9ecf1;
}

.chart{
    grid-column:1 / span 2;
    grid-row:1 / span 2;
    margin:25px 50px 25px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.askprice{
    grid-column:1 / span 1;
    grid-row:3 / span 1;
    margin:25px 25px 25px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.order{
    grid-column:2 / span 1;
    grid-row:3 / span 1;
    margin:25px 50px 25px 25px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.coinlist_container{
    grid-column:3 / span 1;
    grid-row:1 / span 3;
    margin:25px 50px 25px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.listing_method{
    border-bottom: 1px solid #a9a9a9;
}
.method{
    background-color: white;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    margin:15px 30px 15px 30px;
}
.list_header{
    display: flex;
    padding:10px 20px 10px 20px;
    flex-direction: row;
    font-size: 13px;
    text-align: center;
    color: #A9A9A9;
}
.coin{
    display: flex;
    height:40px;
    padding:10px 20px 10px 20px;
    flex-direction: row;
    border-top: 1px solid #d9d9d9;
    line-height: 40px;
    font-size: 14px;
    text-align: right;
}
.coin_name{
    width:25%;
}
.coin > .coin_name{
    text-align: left;
}
.coin_price{
    width:30%;
}
.coin_change_price{
    width:20%;
}
.coin_volum{
    width:25%;
}