.contentbox{
    display: grid;
    width: 100%;
    height: calc(80vh - 2px);
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #e9ecf1;
}


.chart{
    grid-column:1 / span 2;
    margin:25px 0px 25px 75px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.chart_header{
    text-align: left;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid;
}
.chart_name{
    float: left;
    padding: 5px 25px 5px 25px;
}
.chart_price{
}
.chart_graph>h1{
    line-height: 400px;
}

.coinlist_container{
    grid-column:3 / span 1;
    margin:25px 75px 25px 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}


.listing_method{
    border-bottom: 1px solid #a9a9a9;
}
.method{
    background-color: white;
    border: 0px;
    font-size: 18px;
    font-weight: bold;
    margin:15px 30px 15px 30px;
}


.list_header{
    display: flex;
    padding:10px 20px 10px 20px;
    flex-direction: row;
    font-size: 13px;
    text-align: center;
    color: #A9A9A9;
}
.list_name{
    width:25%;
}
.list_price{
    width:30%;
}
.list_change_price{
    width:20%;
}
.list_volum{
    width:25%;
}

.coins{
    overflow-y: scroll;
    height:450px;
}
.coin{
    display: flex;
    height:40px;
    padding:10px 20px 10px 20px;
    flex-direction: row;
    border-top: 1px solid #d9d9d9;
    line-height: 40px;
    font-size: 14px;
    text-align: right;
}
.coin_name{
    width:27.5%;
    text-align: left;
}
.coin_price{
    width:27.5%;
}
.coin_change_price{
    width:20%;
}
.coin_volum{
    width:25%;
}