/*----------==========메인==========----------*/
*{
    margin:0;
    padding:0;
}
.App{
    min-width: 1170px;
    min-height: 585px;
}
main{
    min-height: calc(100vh - 160px);
    padding-top: 80px;
    text-align: center;
}
main>img{
    width: 100%;
    height: calc(100vh - 164px);
    opacity: 0.2;
}
main>.textbox{
    width: 60%;
    position: absolute;
    top:25%;
    left:20%;
    word-spacing: -2.5px;
}
.nowcoins{
    width:30%;
    position: absolute;
    top:42.5%;
    left:35%;
}
.nowcoins>p{
    font-size: 18px;
}
.nowcoins>h1{
    font-size: 50px;
    color: #093687;
}
.bold{
    font-weight: bold;
}
.M_btn{
    box-sizing: border-box;
    width:150px;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    color: white;
    background-color: #0062DF;
    border: 0px;
    position:absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.M_btn:hover{
    background-color: white;
    color: #0062DF;
    border:1px solid #0062DF;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}