textarea{
    resize: none;
}

.N_contents{
    width: 100%;
    height: calc(100vh - 160px);
    background-color: #e9ecf1;
    overflow: auto;
}
.N_title{
    box-sizing: border-box;
    width: 60%;
    height: 80px;
    margin: 0px 20% 20px 20%;
    border: 1px solid #a5a1a1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}
.N_title > h2{
    line-height: 50px;
}
.N_title > p{
    line-height: 20px;
}

.writebox{
    box-sizing: border-box;
    width:40%;
    height: 200px;
    border-radius: 10px;
    padding: 1px;
    margin:20px 5% 20px 5%;
    background-color: white;
    float: left;
    box-shadow: 4px 4px 8px rgb(0 0 0 / 12%);
}
.writebox:hover{
    padding: 0px;
    border: 1px solid;
}

.boxname{
    box-sizing: border-box;
    width:200px;
    line-height: 200px;
    font-size: 22px;
    float: left;
    border-right: 1px solid;
}

.boxtitle{
    box-sizing: border-box;
    width: calc(90% - 200px);
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid;
    float: left;
    font-size: 18px;
    font-weight: bold;
}
.boxtime{
    box-sizing: border-box;
    width: 10%;
    height: 30px;
    line-height: 30px;
    float: right;
    border-left: 1px solid;
    border-bottom: 1px solid;
    font-size: 7.5px;
}
.boxcontent{
    box-sizing: border-box;
    width: calc(100% - 200px);
    height: 120px;
    float: left;
    padding: 10px;
    text-align: left;
}